.comment-reply-title {
  font-size: 8rem !important;
  text-align: center !important;
  @include font-family-heading-script;
  @include max-mobile-xlg {
    font-size: 7rem !important;
    line-height: 0.7;
  }
}
.comment-form, .wpf_form {
  max-width: 700px;
  @include center;
}

.comment-form-cookies-consent {
  display: inline-flex;
}
#wp-comment-cookies-consents {
  margin-top: 7px !important;
  margin-right: 10px !important;
}

.comments-title {
  display: none !important;
}

.comment-reply-link {
  display: none !important;
}

.comment-list {
  margin-bottom: 100px !important;
  list-style: none !important;
  margin-left: -40px !important;
  text-align: center;
}

.comment-metadata {
  font-size: 0.8rem;
  color: #888;
}

.says {
  display: none !important;
}

.comment-form-cookies-consent {
  display: none !important;
}
.comment-form-url {
  display: none !important;
}