.bg {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  transform-style: inherit;


  &-fixed, &-parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include max-tablet-lg {
      background-attachment: scroll;
    }
  }

  &-cover {
    background-size: cover;
  }


  &-position {
    &-top {
      background-position: top;
    }

    &-bottom {
      background-position: bottom;
    }

    &-left {
      background-position: left;
    }

    &-right {
      background-position: right;
    }

    &-center {
      background-position: center;

      &-left {
        background-position: center left;

      }

      &-right {
        background-position: center right;

      }

      &-top {
        background-position: center top;
      }

      &-bottom {
        background-position: center bottom;
      }
    }

    @include max-mobile-xl {
      &-lg {
        &-top {
          background-position: top;
        }

        &-bottom {
          background-position: bottom;
        }

        &-left {
          background-position: left;
        }

        &-right {
          background-position: right;
        }

        &-center {
          background-position: center;

          &-left {
            background-position: center left;

          }

          &-right {
            background-position: center right;

          }

          &-top {
            background-position: center top;
          }

          &-bottom {
            background-position: center bottom;
          }
        }
      }
    }
  }
}

.container {
  @for $i from 0 through 100 {
    &-blur-#{$i} {
      backdrop-filter: blur($i * 1px);
    }
    &-brightness {
      backdrop-filter: brightness($i * 1px);
    }
    &-contrast {
      backdrop-filter: contrast($i * 1px);
    }
    &-brightness {
      backdrop-filter: brightness($i * 1px);
    }
  }

  &-none {
    backdrop-filter: none;
  }
}
