input, textarea {
  border: none !important;
  border-bottom: 1px solid black !important;
  padding: 10px 0 5px  !important;
  &:hover, &:active, &:focus {
    outline: none !important;
  }
}

label {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

input[type="submit"], button {
  padding: 18px 30px !important;
  border-radius: 50px !important;
  text-transform: uppercase !important;
  font-size: 0.9rem !important;
  background: black !important;
  color: white !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

.wpf_input-group-text {
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  color: black;
}